@inherits LayoutComponentBase

@using System.Globalization;

@inject CultureManager CultureManager
@inject IStringLocalizer<MainLayout> Loc
@inject ILogger<MainLayout> Logger

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">@Loc["About"]</a>
            <CultureSelector CurrentCulture="CultureManager.CurrentCulture" SupportedCultures="CultureManager.SupportedCultures" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender {firstRender}", firstRender);
        base.OnAfterRender(firstRender);
    }
}