@implements IDisposable
@page "/"
@page "/{Id:int}"
@inject ILogger<Index> Logger

<PageTitle>Index</PageTitle>

<h1>Hello, world and water!</h1>

Welcome to your new app. Hello hotreload. Where are you? What?


<p>
    <a href="/@(Random.Shared.Next())">Home sweet home!</a>
</p>

<RadzenMenu>
    <RadzenMenuItem Text="Ottawa" Icon="home" Path="/site/ottawa"/>
    <RadzenMenuItem Text="Vancouver" Icon="home"/>
    <RadzenMenuItem Text="Halifax" Icon="home"/>
    <RadzenMenuItem Text="Edmonton" Icon="home"/>
    <RadzenMenuItem Text="Quebec" Icon="home"/>
</RadzenMenu>

@code {
    [Parameter]
    public int? Id { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogInformation("OnInitialized");
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        Logger.LogInformation("OnParametersSet");
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender {firstRender}", firstRender);
        base.OnAfterRender(firstRender);
    }

    public void Dispose()
    {
        Logger.LogInformation("Dispose");
    }
}