/*
Override the site selector dropdown to inherit the proper colors for the App Drawer.

This should be in the isolated SiteSelector CSS (SiteSelector.razor.css) but I couldn't get it to work that way.
The target HTML element doesn't contain the isolation attribute:
    The generated isolated CSS looks like this:
        !* /Components/Layout/SiteSelector.razor.rz.scp.css *!
        #site-selector .mud-input-label[b-tkt7ppayfb] {
            color: unset;
        }
    But the target HTML element is missing the 'b-tkt7ppayfb' attribute.
*/
#site-selector .mud-input-label {
    color: inherit;
}

#site-selector .mud-input {
    color: inherit;
}
/*End override site selector dropdown*/